**/bin/
**/obj/
dist/
.vs/
*.user
*.pfx
*.p12
*.bin
.env*
release-settings.local.json
**/release-settings.local.json
*.md
!README.md
*.txt
*.pdf
*.doc
*.docx
*.rtf
*.log
*.pdb
*.exe
*.dll
tests/
dev/
artifacts/
